@media screen and (max-width:500px) {

    .box1 {
      order:5;
      background-color:rgb(98,59,228);
      width:100%auto;
      height:80%auto;}

    .box2 {
        order:3;
        background-color:rgb(187,47,68);
        width:100%auto;}

    .box3 {
        order: 2;
        background-color:rgb(41,244,110);
        width: 100%auto;}

    .box4 {
        order: 1;
        background-color:rgb(188,191,182);
        width: 100%auto;}

    .box5 {
       order:4;
       background-color:rgb(60,169,198);
       width: 100%auto;}
}
